<div class="jumbotron">
<div class="row">
  <div class="container container-fluid">
<div class="col-md-4">
  <h6>Get Holiday Api</h6>  
</div>
</div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="col-md-12">
      <select  class="form-control" [ngModel]="MonthValue" (ngModelChange)="OnChange($event)">
        <option *ngFor="let month of months" [ngValue]="month"> {{month}}</option>
        </select>      
  </div>
</div>
</div>
<div class="list-group">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let holiday of HolidayData">
     <a href="#" (click)="OnholidayInf()"> {{holiday.name}}</a>
    </li>
  </ul>
</div>
</div>
